.text-1{
    font-size: 5rem;
    margin-top: 8%;
    margin-left: 5%;
}

.text-2 {
    font-size: 5rem;
    margin-top: 2%;
    margin-left: 15%;
}

.text-3{
    font-size: 4rem;
    text-align: center;
    margin-top: 5%;
}

.button-container{
    margin-left: 3%;
    margin-top: 4%;
}

.glow-on-hover {
    margin-left: 4%;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #111;
    font-size: larger;
    font-weight: 600;
    background: #cc7cdc;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 60px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #fc7bfe, #f45bef, #e738e7, #f360e1, #e907ed, #cf02c8, #c98ac1, #ff00c8, #fe65f4);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 60px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#cc7cdc;
    left: 0;
    top: 0;
    border-radius: 60px;
}


.glow-on-hover1 {
    margin-left: 10%;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #111;
    font-size: larger;
    font-weight: 600;
    background: #fc9c3c;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 60px;
}

.glow-on-hover1:before {
    content: '';
    background: linear-gradient(45deg, #ffa21f, #fea81c, #febc2e, #f0a25a, #eb8f4d, #ff9b31, #ff9f43, #ff9500, #ff7400);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 60px;
}

.glow-on-hover1:active {
    color: #000;
}

.glow-on-hover1:active:after {
    background: transparent;
}

.glow-on-hover1:hover:before {
    opacity: 1;
}

.glow-on-hover1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fc9c3c;
    left: 0;
    top: 0;
    border-radius: 60px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

