<nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container">
        <!--logo-->
        <a class="navbar-brand">
            <img src="" alt="logo" height="40">
        </a>
        <!--Button mobile-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Link della navbar -->
        <div class="collapse navbar-collapse w-100 text-center" id="navbarNav">
            <ul class="navbar-nav ms-auto d-block d-lg-flex">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signin">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>