<form class="container">
    <div class="form-container">
        <label for="animalType">Animal Type</label>
        <input id="animalType" formControlName="animalType" required>
    </div>
    <div class="form-container">
        <label for="animalBreed">Animal Breed</label>
        <input id="animalBreed" formControlName="animalBreed" required>
    </div>
    <div class="form-container">
        <label for="animalName">Name</label>
        <input id="animalName" formControlName="animalName" required>
    </div>
    <div class="form-container">
        <label for="status">Gender</label>
        <select id="status" formControlName="status" required>
          <option value="LOST">Female</option>
          <option value="FOUND">Male</option>
        </select>
    </div>
    <div class="form-container">
        <label for="animalColor">Colore</label>
        <input id="animalColor" formControlName="animalColor" required>
    </div>
    <div class="form-container">
        <label for="animalSize">Size</label>
        <input id="animalSize" formControlName="animalSize" required>
    </div>
    <div class="form-container">
        <label for="animalAge">Age</label>
        <input id="animalAge" formControlName="animalAge" required>
    </div>
    <div class="form-container">
        <label for="status">Status</label>
        <select id="status" formControlName="status" required>
          <option value="LOST">Lost</option>
          <option value="FOUND">Found</option>
        </select>
    </div>
    <div class="form-container">
        <label for="description">Descrizione</label>
        <textarea id="description" formControlName="description" required></textarea>
    </div>
    <div class="form-container">
        <label for="imageFile">Immagine</label>
        <input type="file" id="imageFile" accept="image/*">
    </div>

    <div>
        <h4>Informazioni di contatto</h4>
        <p>Nome: </p>
        <p>Cognome: </p>
        <p>Email: </p>
      </div>
    
      <button type="submit">Save</button>
      <button type="submit">Cancel</button>
</form>
